/* Medium Layout: 1200px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container{
    width: 100%;
  }
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container{
    width: 90%;
  }
  .header-area, .careers, .gamer{
    flex-direction: column;
  }
  .banner, .play-game{
    grid-template-columns: auto;
    gap: 50px;
  }
  .gamer-contant, .play-contant-area, .play-contant,.careers-contant{
    text-align: center;
  }
  .menu-section{
    justify-content: center;
    margin-top: 10px;
  }
  .game-position{
  bottom: 45%;
}
  .video-game{
    grid-template-columns: repeat(2, 1fr);
  }
  .video img{
    width: 100%;
  }
  .game-title-img{
    grid-template-columns: repeat(3, auto);
  }
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
  .container{
    width: 80%;
  }
  .header-area, .menu-section, .careers, .gamer{
    flex-direction: column;
  }
  .follow{
    margin: 10px;
  }
  .banner, .play-game{
    grid-template-columns: auto;
    gap: 50px;
  }
  .gamer-contant, .play-contant-area, .play-contant, .careers-contant{
    text-align: center;
  }
  .video img{
    width: 100%;
  }
  .game-position{
  bottom: 70%;
}
  .game-images{
  padding-right: 0px;
  }
  .careers{
    flex-direction: column;
  }
  .careers-des{
    width: 100%;
  }
  .game-title-img, .footer-content-item{
    grid-template-columns: repeat(2, auto);
  }
  .footer-icon, .footer-contant{
    grid-template-columns: repeat(3, auto);
  }
  .video-game{
    grid-template-columns: repeat(1, auto);
  }
  .footer-contant{
    gap: 10px;
  }
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container{
    width: 100%;
  }
}
