*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lexend', sans-serif;
  font-family: 'Barlow', sans-serif;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
img{
  width: 100%;
  vertical-align: middle;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.btn{
color: #FFF;
font-family: 'Barlow', sans-serif;
padding: 20px 40px;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
border-radius: 48px;
background: #FF42A5;
border: 0;
cursor: pointer;
}
/* header area css */
.header-area-title{
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.header-area{
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.logo{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.logo img{
  width: 86.041px;
  height: 40px;
  margin-top: 10px;
}
.title{
text-align: center;
font-family: 'Lexend', sans-serif;
font-size: 45px;
font-weight: 700;
}
.comon-color{
  color: #FF42A5;
}
.comon-color-2{
  color: #111111;
  filter: drop-shadow(1px 0px 0px #fd3e3e) drop-shadow(-2px -1px 0px #4de8f4);
}
.menu-section{
display: flex;
align-items: center;
}
.menu-section li a{
color: #3C354F;
text-align: center;
font-family: 'Barlow', sans-serif;
font-size: 18px;
font-weight: 500;
margin-right: 40px;
}
.follow{
color: #3C354F;
text-align: center;
font-family: 'Barlow', sans-serif;
font-size: 18px;
font-weight: 500;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 10px;
display: flex;
gap: 10px;
}
/* banner area css */
.banner-area{ 
  background: #FFF;
}
.banner{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 300px;
}
.banner-contant{
/* text-align: center; */
padding: 100px 0;
}
.banner-contant h4{
color: #0B0223;
font-family: 'Lexend', sans-serif;
font-size: 48px;
font-weight: 600;
text-transform: uppercase;
}
.banner-contant h3{
font-family: 'Lexend', sans-serif;
font-size: 95px;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-contant p{
color: #534C64;
font-family: 'Barlow', sans-serif;
font-size: 20px;
font-weight: 500;
text-transform: capitalize;
margin-bottom: 10px;
}
.icon i{
  border: 1px solid #534C64;
  text-align: center;
  height: 18px;
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
  color: #FF42A5;
  font-size: 15px;
  margin-right: 10px;
}
.fa-icon i{
  font-size: 17px;
  color: #FF42A5;
  margin-right: 10px;
}
.fave-icon i{
  font-size: 17px;
  margin-right: 10px;
  color: #534C64;
}
.button{
  margin-top: 30px;
}
.btn-2{
color: #FFF;
font-family: 'Barlow', sans-serif;
padding: 20px 40px;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
border-radius: 48px;
background: #4EC5F7;
border: 0;
margin-left: 10px;
cursor: pointer;
}
.banner-img img{
  height: 600px;
}

/* gamer-area css */
.gamer-area{
  background-color: rgba(241, 68, 174, 0.03);
}
.gamer{
  display: flex;
  justify-content: space-between;
  gap: 52px;
  padding: 30px 0;
}
.gamer-img img{
  width: 100%;
  height: 100%;
}
.gamer-contant{
  text-align: right;
}
.gamer-title{
font-family: 'Lexend', sans-serif;
font-size: 48px;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.gamer-des{
color: #534C64;
font-family: 'Barlow', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
padding: 20px 0;
}
.gamer-tage{
color: #534C64;
font-family: 'Barlow', sans-serif;
font-size: 32px;
font-weight: 700;
line-height: 45px;
}
.contant{
color: #534C64;
font-family: 'Barlow', sans-serif;
font-size: 24px;
font-weight: 500;
}
/* gamer video area css */
.gamer-video-area{
  padding: 50px 0;
}
.gamer-conten{
  text-align: center;
}
.gam-title{
color: #0B0223;
font-family: 'Lexend', sans-serif;
font-size: 48px;
font-weight: 700;
}
.video-game{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  gap: 20px;
}
.video{
  position: relative;
  margin-bottom: 20px;  
}
.video-hover{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: #000000;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.video-hover i{
  color: #000000;
  opacity: 1;
  background-color: #FFF;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 25px;
}
.video-hover span{
text-align: center;
font-family: 'Barlow', sans-serif;
font-size: 20px;
font-weight: 600;
background: #FF42A5;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-top: 20px;
}

.video:hover .video-hover{
opacity: 0.75;
}
.video img{
  width: 100%;
  height: 380px;
}

.video-contant{
color: #534C64;
font-family: 'Barlow', sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 30px; 
}
/* play-game area css */
.play-game-area{

}
.play-game{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;

}
.play-contant{
  margin-top: 10%;
  text-align: right;
}
.game-img{
  
}
.img{
  width: 80%;
  height: 100%;
  margin-left: 115px;
}
.game-position{
  position: relative;
  bottom: 55%;
  width: 200px;
  height: 200px;
  left: 50px;
}

/* play contant area two  */
.play-contant-area{
  margin-top: 10%;
}
.game-images{
  padding-right: 60px;
}
.game-position-img{
  position: relative;
  width: 200px;
  height: 200px;
  margin-left: 68%;
  bottom: 138px;
}
/* careers-area css */
.careers-area{
  background-color: #FF42A5;
}
.careers{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.careers-contant{
  padding: 40px 0;
}
.careers-title{
color: #FFF;
font-family: 'Lexend', sans-serif;
font-size: 48px;
font-weight: 700;
line-height: 60px; 
}
.careers-des{
color: #FFF;
font-family: 'Barlow', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
padding: 30px 0;
width: 580px;
}
.careers-second-contant{
  display: flex;
  gap: 60px;
}
.careers-contant-des{
color: #FFF;
font-family: 'Barlow', sans-serif;
font-size: 20px;
font-weight: 600;
line-height: 40px; 
}
.careers-second-des{
color: #FFF;
text-align: right;
font-family: 'Barlow', sans-serif;
font-size: 20px;
font-weight: 600;
line-height: 40px; 
}
.button-btn{
font-family: 'Lexend', sans-serif;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
border-radius: 48px;
background: #FFF;
border: 0;
padding: 20px 40px;
cursor: pointer;
margin-top: 20px;
}
.careers-img img{
  width: 100%;
  height: 100%;
}
/* game-title-img area css */
.gamer-title-area{
  background: rgba(255, 66, 165, 0.03);
  padding: 50px 0;
}
.game-title-img{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 10px;
}
.game-img-contant{
  border-radius: 50px;
  background: #FFF;
  border: 2px solid #fff;
}
.game-img-contant span{
color: #0B0223;
font-family: 'Barlow', sans-serif;
font-size: 18px;
font-weight: 500;
margin-left: 10px;
}
.game-img-contant span:hover{
color: #FF42A5;
}
.game-img-contant:hover{
border-color: #FF42A5;
}
.game-img-contant img{
  width: 55px;
  height: 55px;
}
/* footer area css */
.footer-area{
  background: #0B0223;
  padding: 50px 0;
}
.footer{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer-title{
text-align: center;
font-family: 'Lexend', sans-serif;
font-size: 45px;
font-weight: 700;
color: #fff;
}
.footer img{
width: 86.041px;
height: 40px;
margin-top: 10px;
}
.footer-contant{
  display: grid;
  grid-template-columns: repeat(6, auto);
  color: #fff;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}
.footer-contant h5{
color: #FFF;
font-family: 'Barlow', sans-serif;
font-size: 18px;
font-weight: 600;
}
.footer-icon{
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: center;
  color: #fff;
  font-size: 20px;
  gap: 40px;
  margin-top: 30px;
  cursor: pointer;
}

.footer-content-item{
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}
.footer-content-item{
color: rgba(255, 255, 255, 0.60);
font-family: 'Barlow', sans-serif;
font-size: 16px;
font-weight: 500;
}
.footer-email{
color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: 'Barlow', sans-serif;
font-size: 16px;
font-weight: 500;
margin-top: 30px;
}